amcl:
  ros__parameters:
    use_sim_time: True
    alpha1: 0.2
    alpha2: 0.2
    alpha3: 0.2
    alpha4: 0.2
    alpha5: 0.2
    base_frame_id: "base_footprint"
    beam_skip_distance: 0.5
    beam_skip_error_threshold: 0.9
    beam_skip_threshold: 0.3
    do_beamskip: false
    global_frame_id: "map"
    lambda_short: 0.1
    laser_likelihood_max_dist: 2.0
    laser_max_range: 100.0
    laser_min_range: -1.0
    laser_model_type: "likelihood_field"
    max_beams: 60
    max_particles: 2000
    min_particles: 500
    odom_frame_id: "odom"
    pf_err: 0.05
    pf_z: 0.99
    recovery_alpha_fast: 0.0
    recovery_alpha_slow: 0.0
    resample_interval: 1
    robot_model_type: "nav2_amcl::DifferentialMotionModel"
    save_pose_rate: 0.5
    sigma_hit: 0.2
    tf_broadcast: true
    transform_tolerance: 1.0
    update_min_a: 0.2
    update_min_d: 0.25
    z_hit: 0.5
    z_max: 0.05
    z_rand: 0.5
    z_short: 0.05
    scan_topic: scan

bt_navigator:
  ros__parameters:
    use_sim_time: True
    global_frame: map
    robot_base_frame: base_link
    odom_topic: /odom
    bt_loop_duration: 10
    default_server_timeout: 20
    wait_for_service_timeout: 1000
    # 'default_nav_through_poses_bt_xml' and 'default_nav_to_pose_bt_xml' are use defaults:
    # nav2_bt_navigator/navigate_to_pose_w_replanning_and_recovery.xml
    # nav2_bt_navigator/navigate_through_poses_w_replanning_and_recovery.xml
    # They can be set here or via a RewrittenYaml remap from a parent launch file to Nav2.
    plugin_lib_names:
      - nav2_compute_path_to_pose_action_bt_node
      - nav2_compute_path_through_poses_action_bt_node
      - nav2_smooth_path_action_bt_node
      - nav2_follow_path_action_bt_node
      - nav2_spin_action_bt_node
      - nav2_wait_action_bt_node
      - nav2_assisted_teleop_action_bt_node
      - nav2_back_up_action_bt_node
      - nav2_drive_on_heading_bt_node
      - nav2_clear_costmap_service_bt_node
      - nav2_is_stuck_condition_bt_node
      - nav2_goal_reached_condition_bt_node
      - nav2_goal_updated_condition_bt_node
      - nav2_globally_updated_goal_condition_bt_node
      - nav2_is_path_valid_condition_bt_node
      - nav2_initial_pose_received_condition_bt_node
      - nav2_reinitialize_global_localization_service_bt_node
      - nav2_rate_controller_bt_node
      - nav2_distance_controller_bt_node
      - nav2_speed_controller_bt_node
      - nav2_truncate_path_action_bt_node
      - nav2_truncate_path_local_action_bt_node
      - nav2_goal_updater_node_bt_node
      - nav2_recovery_node_bt_node
      - nav2_pipeline_sequence_bt_node
      - nav2_round_robin_node_bt_node
      - nav2_transform_available_condition_bt_node
      - nav2_time_expired_condition_bt_node
      - nav2_path_expiring_timer_condition
      - nav2_distance_traveled_condition_bt_node
      - nav2_single_trigger_bt_node
      - nav2_goal_updated_controller_bt_node
      - nav2_is_battery_low_condition_bt_node
      - nav2_navigate_through_poses_action_bt_node
      - nav2_navigate_to_pose_action_bt_node
      - nav2_remove_passed_goals_action_bt_node
      - nav2_planner_selector_bt_node
      - nav2_controller_selector_bt_node
      - nav2_goal_checker_selector_bt_node
      - nav2_controller_cancel_bt_node
      - nav2_path_longer_on_approach_bt_node
      - nav2_wait_cancel_bt_node
      - nav2_spin_cancel_bt_node
      - nav2_back_up_cancel_bt_node
      - nav2_assisted_teleop_cancel_bt_node
      - nav2_drive_on_heading_cancel_bt_node
      - nav2_is_battery_charging_condition_bt_node

bt_navigator_navigate_through_poses_rclcpp_node:
  ros__parameters:
    use_sim_time: True

bt_navigator_navigate_to_pose_rclcpp_node:
  ros__parameters:
    use_sim_time: True

controller_server:
  ros__parameters:
    use_sim_time: True
    controller_frequency: 5.0
    min_x_velocity_threshold: 0.001
    min_y_velocity_threshold: 0.5
    min_theta_velocity_threshold: 0.001
    failure_tolerance: 0.3
    progress_checker_plugin: "progress_checker"
    goal_checker_plugins: ["general_goal_checker"] # "precise_goal_checker"
    controller_plugins: ["FollowPath"]

    # Progress checker parameters
    progress_checker:
      plugin: "nav2_controller::SimpleProgressChecker"
      required_movement_radius: 0.5
      movement_time_allowance: 10.0
    # Goal checker parameters
    #precise_goal_checker:
    #  plugin: "nav2_controller::SimpleGoalChecker"
    #  xy_goal_tolerance: 0.25
    #  yaw_goal_tolerance: 0.25
    #  stateful: True
    general_goal_checker:
      stateful: True
      plugin: "nav2_controller::SimpleGoalChecker"
      xy_goal_tolerance: 0.25
      yaw_goal_tolerance: 0.25
    #COHAN Params
    FollowPath:
      plugin: "hateb_local_planner::HATebLocalPlannerROS"
      pose_prediction_reset_time: 10.0
      odom_topic: odom
      map_frame: odom
      global_frame: map
      base_frame: base_link
      footprint_frame: base_footprint
      planning_mode: 1
      # Trajectory
      teb_autosize: True
      dt_ref: 0.1
      dt_hysteresis: 0.01
      global_plan_overwrite_orientation: True
      allow_init_with_backwards_motion: False
      max_global_plan_lookahead_dist: 0.0
      feasibility_check_no_poses: 2
      global_plan_viapoint_sep: 0.2
      disable_warm_start: True
      shrink_horizon_backup: True
      # Robot
      holonomic_robot: false
      type: 0 #(0: Robot, 1: Human)
      robot_radius: 0.47
      max_vel_y: 0.7
      acc_lim_y: 0.3
      max_vel_x: 0.7
      min_vel_x: 0.02
      max_vel_x_backwards: 0.4
      max_vel_theta: 1.2
      min_vel_theta: 0.1
      acc_lim_x: 0.3
      acc_lim_theta: 0.4
      min_turning_radius: 0.0
      footprint_model: # types: "point", "circular", "two_circles", "line", "polygon" --> for PR2
        type: "polygon"
        radius: 0.34 # for type "circular"
        line_start: [-0.3, 0.0] # for type "line"
        line_end: [0.3, 0.0] # for type "line"
        front_offset: 0.2 # for type "two_circles"
        front_radius: 0.2 # for type "two_circles"
        rear_offset: 0.2 # for type "two_circles"
        rear_radius: 0.2 # for type "two_circles"
        vertices: "[[-0.325, -0.325], [-0.325, 0.325], [0.325, 0.325] [0.325, -0.325]]" # for type "polygon"

      # Agents
      ## Agent Model Params
      agent_radius: 0.30
      max_agent_vel_x: 1.3
      max_agent_vel_y: 0.4
      max_agent_vel_x_backwards: 0.01
      max_agent_vel_theta: 1.1
      agent_acc_lim_x: 0.6
      agent_acc_lim_y: 0.3
      agent_acc_lim_theta: 0.8
      ## HATEB Params
      use_agent_agent_safety_c: True
      use_agent_robot_safety_c: True
      use_agent_robot_rel_vel_c: True
      use_agent_robot_visi_c: True
      add_invisible_humans: True
      min_agent_agent_dist: 0.4
      min_agent_robot_dist: 0.6
      rel_vel_cost_threshold: 1.5
      visibility_cost_threshold: 2.5
      invisible_human_threshold: 1.0
      # GoalTolerance
      xy_goal_tolerance: 0.2
      yaw_goal_tolerance: 0.2
      free_goal_vel: True
      # Obstacles
      min_obstacle_dist: 0.3
      include_costmap_obstacles: True
      costmap_obstacles_behind_robot_dist: 0.5
      obstacle_poses_affected: 1
      costmap_converter_plugin: "costmap_converter::CostmapToLinesDBSRANSAC"
      costmap_converter_spin_thread: True
      costmap_converter_rate: 10
      obstacle_cost_mult: 1.0
      use_nonlinear_obstacle_penalty: True
      costmap_converter/CostmapToLinesDBSRANSAC:
         cluster_max_distance: 0.8
         cluster_min_pts: 2
         ransac_inlier_distance: 0.15
         ransac_min_inliers: 10
         ransac_no_iterations: 1500
         ransac_remainig_outliers: 3
         ransac_convert_outlier_pts: True
         ransac_filter_remaining_outlier_pts: False
         convex_hull_min_pt_separation: 0.1
      # Optimization
      no_inner_iterations: 8
      no_outer_iterations: 4
      optimization_activate: True
      optimization_verbose: False
      penalty_epsilon: 0.01
      weight_max_vel_x: 2.
      weight_max_vel_y: 2.
      weight_max_agent_vel_x: 4.
      weight_max_agent_vel_y: 4.
      weight_nominal_agent_vel_x: 2.
      weight_max_vel_theta: 1.
      weight_max_agent_vel_theta: 2.
      weight_acc_lim_x: 1.
      weight_acc_lim_y: 1.
      weight_agent_acc_lim_x: 2.
      weight_agent_acc_lim_y: 2.
      weight_acc_lim_theta: 1.
      weight_agent_acc_lim_theta: 2.
      weight_kinematics_nh: 1000.
      weight_kinematics_forward_drive: 100.0
      weight_kinematics_turning_radius: 0.
      weight_optimaltime: 1.0
      weight_agent_optimaltime: 3.0
      weight_obstacle: 50.0
      weight_dynamic_obstacle: 50.
      weight_viapoint: 0.05
      weight_agent_viapoint: 0.5
      weight_shortest_path: 1.0
      selection_alternative_time_cost: False
      cap_optimaltime_penalty: True
      weight_agent_robot_safety: 5.0
      weight_agent_agent_safety: 2.0
      weight_agent_robot_rel_vel: 5.0
      weight_agent_robot_visibility: 5.0
      weight_invisible_human: 1.0
      # Visualization
      pose_array_z_scale: 0.5
      publish_agents_global_plans: true
      publish_agents_local_plan_fp_poses: true
      publish_agents_local_plan_poses: true
      publish_agents_local_plans: true
      publish_robot_global_plan: true
      publish_robot_local_plan: true
      publish_robot_local_plan_fp_poses: true
      publish_robot_local_plan_poses: true

    #FollowPath:
    #  plugin: "dwb_core::DWBLocalPlanner"
    #  debug_trajectory_details: True
    #  min_vel_x: 0.0
    #  min_vel_y: 0.0
    #  max_vel_x: 0.26
    #  max_vel_y: 0.0
    #  max_vel_theta: 1.0
    #  min_speed_xy: 0.0
    #  max_speed_xy: 0.26
    #  min_speed_theta: 0.0
    #  # Add high threshold velocity for turtlebot 3 issue.
    #  # https://github.com/ROBOTIS-GIT/turtlebot3_simulations/issues/75
    #  acc_lim_x: 2.5
    #  acc_lim_y: 0.0
    #  acc_lim_theta: 3.2
    #  decel_lim_x: -2.5
    #  decel_lim_y: 0.0
    #  decel_lim_theta: -3.2
    #  vx_samples: 20
    #  vy_samples: 5
    #  vtheta_samples: 20
    #  sim_time: 1.7
    #  linear_granularity: 0.05
    #  angular_granularity: 0.025
    #  transform_tolerance: 0.2
    #  xy_goal_tolerance: 0.25
    #  trans_stopped_velocity: 0.25
    #  short_circuit_trajectory_evaluation: True
    #  stateful: True
    #  critics: ["RotateToGoal", "Oscillation", "BaseObstacle", "GoalAlign", "PathAlign", "PathDist", "GoalDist"]
    #  BaseObstacle.scale: 0.02
    #  PathAlign.scale: 32.0
    #  PathAlign.forward_point_distance: 0.1
    #  GoalAlign.scale: 24.0
    #  GoalAlign.forward_point_distance: 0.1
    #  PathDist.scale: 32.0
    #  GoalDist.scale: 24.0
    #  RotateToGoal.scale: 32.0
    #  RotateToGoal.slowing_factor: 5.0
    #  RotateToGoal.lookahead_time: -1.0

local_costmap:
  local_costmap:
    ros__parameters:
      update_frequency: 5.0
      publish_frequency: 2.0
      global_frame: odom
      robot_base_frame: base_link
      use_sim_time: True
      rolling_window: true
      width: 15
      height: 15
      resolution: 0.05
      robot_radius: 0.47
      footprint: "[[-0.325, -0.325], [-0.325, 0.325], [0.325, 0.325], [0.46, 0.0], [0.325, -0.325]]"
      plugins: ["voxel_layer", "inflation_layer"]
      inflation_layer:
        plugin: "nav2_costmap_2d::InflationLayer"
        cost_scaling_factor: 3.0
        inflation_radius: 0.55
      voxel_layer:
        plugin: "nav2_costmap_2d::VoxelLayer"
        enabled: True
        publish_voxel_map: True
        origin_z: 0.0
        z_resolution: 0.05
        z_voxels: 16
        max_obstacle_height: 2.0
        mark_threshold: 0
        observation_sources: scan
        scan:
          topic: /scan
          max_obstacle_height: 2.0
          clearing: True
          marking: True
          data_type: "LaserScan"
          raytrace_max_range: 3.0
          raytrace_min_range: 0.0
          obstacle_max_range: 2.5
          obstacle_min_range: 0.0
      static_layer:
        plugin: "nav2_costmap_2d::StaticLayer"
        map_subscribe_transient_local: True
      always_send_full_costmap: True

global_costmap:
  global_costmap:
    ros__parameters:
      update_frequency: 1.0
      publish_frequency: 1.0
      global_frame: map
      robot_base_frame: base_link
      use_sim_time: True
      robot_radius: 0.47
      footprint: "[[-0.325, -0.325], [-0.325, 0.325], [0.325, 0.325], [0.46, 0.0], [0.325, -0.325]]"
      resolution: 0.05
      track_unknown_space: true
      plugins: ["static_layer", "obstacle_layer", "inflation_layer"]
      obstacle_layer:
        plugin: "nav2_costmap_2d::ObstacleLayer"
        enabled: True
        observation_sources: scan
        scan:
          topic: /scan
          max_obstacle_height: 2.0
          clearing: True
          marking: True
          data_type: "LaserScan"
          raytrace_max_range: 3.0
          raytrace_min_range: 0.0
          obstacle_max_range: 2.5
          obstacle_min_range: 0.0
      static_layer:
        plugin: "nav2_costmap_2d::StaticLayer"
        map_subscribe_transient_local: True
      inflation_layer:
        plugin: "nav2_costmap_2d::InflationLayer"
        cost_scaling_factor: 3.0
        inflation_radius: 0.55
      always_send_full_costmap: True

map_server:
  ros__parameters:
    use_sim_time: True
    # Overridden in launch by the "map" launch configuration or provided default value.
    # To use in yaml, remove the default "map" value in the tb3_simulation_launch.py file & provide full path to map below.
    yaml_filename: ""

map_saver:
  ros__parameters:
    use_sim_time: True
    save_map_timeout: 5.0
    free_thresh_default: 0.25
    occupied_thresh_default: 0.65
    map_subscribe_transient_local: True

planner_server:
  ros__parameters:
    expected_planner_frequency: 5.0
    use_sim_time: True
    planner_plugins: ["GridBased"]
    GridBased:
      plugin: "nav2_navfn_planner/NavfnPlanner"
      tolerance: 0.5
      use_astar: false
      allow_unknown: true

smoother_server:
  ros__parameters:
    use_sim_time: True
    smoother_plugins: ["simple_smoother"]
    simple_smoother:
      plugin: "nav2_smoother::SimpleSmoother"
      tolerance: 1.0e-10
      max_its: 1000
      do_refinement: True

behavior_server:
  ros__parameters:
    costmap_topic: local_costmap/costmap_raw
    footprint_topic: local_costmap/published_footprint
    cycle_frequency: 10.0
    behavior_plugins: ["spin", "backup", "drive_on_heading", "assisted_teleop", "wait"]
    spin:
      plugin: "nav2_behaviors/Spin"
    backup:
      plugin: "nav2_behaviors/BackUp"
    drive_on_heading:
      plugin: "nav2_behaviors/DriveOnHeading"
    wait:
      plugin: "nav2_behaviors/Wait"
    assisted_teleop:
      plugin: "nav2_behaviors/AssistedTeleop"
    global_frame: odom
    robot_base_frame: base_link
    transform_tolerance: 0.1
    use_sim_time: true
    simulate_ahead_time: 2.0
    max_rotational_vel: 1.0
    min_rotational_vel: 0.4
    rotational_acc_lim: 3.2

robot_state_publisher:
  ros__parameters:
    use_sim_time: True

waypoint_follower:
  ros__parameters:
    use_sim_time: True
    loop_rate: 20
    stop_on_failure: false
    waypoint_task_executor_plugin: "wait_at_waypoint"
    wait_at_waypoint:
      plugin: "nav2_waypoint_follower::WaitAtWaypoint"
      enabled: True
      waypoint_pause_duration: 200

velocity_smoother:
  ros__parameters:
    use_sim_time: True
    smoothing_frequency: 20.0
    scale_velocities: False
    feedback: "OPEN_LOOP"
    max_velocity: [0.7, 0.0, 1.0]
    min_velocity: [-0.7, 0.0, -1.0]
    max_accel: [2.5, 0.0, 3.2]
    max_decel: [-2.5, 0.0, -3.2]
    odom_topic: "odom"
    odom_duration: 0.1
    deadband_velocity: [0.0, 0.0, 0.0]
    velocity_timeout: 1.0